/* body { min-height: 100vh; } */
html { 
  background: url(https://www.pexels.com/photo/1287145/download/?search_query=&tracking_id=n0ja7c6z2v) no-repeat center top fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  backdrop-filter: blur(10px); 
  /* filter: blur(8px) */
}

/* .hp-image {
  background: url(https://www.pexels.com/photo/1287145/download/?search_query=&tracking_id=n0ja7c6z2v) no-repeat center top fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: blur(10px);
} */


.flexbox-nav {
  display: flex;
  /* position: fixed; */
  flex-direction: row;
  justify-content: space-evenly;  
  size: 30vh;
}

.navbar-links a {
  padding: 0px 5vh 0px 5vh;
  font-size: 2vh;
  color: #f3f3f3;
  font-family: sans-serif;
  text-decoration: none;
  /* display: flex; */
  justify-content: space-evenly;
  transform: translatey(-100%);
	/* padding: 1em 0.5em 1em 1em; */
	background: #BAABDA;
	border-radius: 1em 1em 1em 1em;
	box-shadow: -10px 0px 0px hotpink;
	transition: all 300ms ease;
  /* width: 50%; */
}

.navbar-links a:hover {
	box-shadow: -8px 0px 10px hotpink;
	padding: 1em;
}

.navbar-links a:visited {
	box-shadow: -8px 0px 10px hotpink;
	padding: 1em;
}

.navbar-homepage {
  /* padding: 0px 90px 0px 90px; */
  font-size: 30px;
  margin: 20px;
  color: #f3f3f3;
  font-family: sans-serif;
  text-decoration: none;
  /* display: flex; */
  justify-content: space-evenly;
  text-align: center;
}


.navbar a:active {
  text-decoration: underline;
}

.navbar-header {
  text-align: center;
  justify-content: space-between;
  background-image: url("https://wallpaperaccess.com/full/1089679.png");
  background-size: 100%;
  /* background-size: 50px 50px 50px 50px; */
  /* background-color: #ffdae0; */
  background-position: center center;
  background-repeat: no-repeat;
  padding: 70px;
  /* width: 100%; */

}

.home-page {
  font-size: 70px;
  color: #BAABDA;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  text-align: center;
  /* background-image: url("https://www.pexels.com/photo/1287145/download/?search_query=&tracking_id=n0ja7c6z2v"); */
}

.future {
  font-size: 60px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  text-align: center;
  color: #7f4ee9
}

.hp-mountains {
  /* size: 5em; */
  color: #7f4ee9;
  text-align: center;
}

.hp-image {
  height: 80vh;
  width: 100%;
  background-position: center center;
  /* background-repeat: no-repeat; */
  /* filter: blur(4px); */
  /* filter: blur(3px) */
}
.home-pic {
  background-image: url("https://www.pexels.com/photo/1287145/download/?search_query=&tracking_id=n0ja7c6z2v");
}


.booking {
  text-align: center;
  font-size: 40px;
  color:#fff;
  font-family: sans-serif;
}

.lefty-call {
  text-decoration: none;
  color: #7f4ee9;
  font-size: 20px;
}

.lefty-call-div {
  justify-content: center;
  display: flex;
}

.house-list-header {
  text-align: center;

}

.house-card img {
  width: 490px;
  height: 340px;
  padding: 5px;
  border-radius: 20px;
  object-fit: cover;
}

/* .picture {
  max-width: 490px;
  height: 340px;
} */

.house-card h3, p {
  padding-left: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.house-card h3 {
  padding-top: 5px;
}

.house-card p {
  padding-top: 10px;
}

.house-card {
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  transition: 0.3s;
  width: 500px;
  /* background-color: #c2b1e6; */
  background-color: #D6E5FA;
  border-radius: 25px;
  text-emphasis-color: #BAABDA;
  color: hotpink;
}

.house-card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;

}

.travel-container .house-card-footer{
  margin-top: 30px;
  position: relative;
}


.houses-container .house-card {
  margin: 10px;
  cursor: pointer;
  height: 460px;
  overflow: hidden;
}
.houses-container .house-card img {
  transition: transform .5s ease;
}

.houses-container .house-card:hover img {
  transform: scale(1.25);
}

/* .houses-container .house-card:hover {
  box-shadow: 0 10px 20px 16px rgba(0,0,0,.5);
} */

.houses-container {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  columns: 2;
  padding-bottom: 30px;
  width: 100%;
}

.travel-container {
  display: flex;
  justify-content: center;
}

.travel-container .house-card{
  transition: 0.3s;
  width: 310px;
  float: none;
  margin-right: 10px;
}

.travel-container .house-card img {
  max-width: 300px;
  height: 200px;
}

.house-form {
  vertical-align: middle;
}

.travel-list input[type=text], select { 
  width: 50%;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: inset rgb(217, 68, 236);
  border-width: 2px;
  border-radius: 25px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, arial, sans-serif;
}
 
input[type=submit] {
  width: 100%;
  background-color: #BAABDA;
  color: black;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: large;
}

input[type=submit]:hover {
  background-color: hotpink;
  color: white;

}

.submit-btn {
  transition: all 0.3s ease-in-out;
}

/* .submit-btn {
  background-image: linear-gradient(
    to right,
    #54b3d6,
    #54b3d6 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
} */

/* .submit-btn:before {
  content: '';
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
}

.submit-btn:hover {
  background-position: 0;
 }

 .submit-btn:hover::before {
  width: 100%;
} */

.form-labels {
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.capitalize {
  text-transform: capitalize;
}

textarea {
  border: none;
  resize: none;
  background-color: #f3f3f3;
  height: 250px;
}

textarea:focus {
  outline: none;
}

.save {
  background-color: white;
  border: none;
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5)
}

.save a {
  text-decoration: none;
}

.save:hover {
  background-color: hotpink;
  color: white;
  cursor: pointer;
}

.book, .post{
  background-color: white;
  border: none;
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
  box-shadow: 0 2px 20px rgba(255, 0, 130, 0.5)
  /* margin: 10px */
}

.book a {
  text-decoration: none;
}

.book:hover {
  background-color: hotpink;
  color: white;
  cursor: pointer;
}

.post:hover {
  background-color: hotpink;
  color: white;
  cursor: pointer;
}

.post a {
  text-decoration: none;
}


.review {
  background-image: url("https://wallpaperaccess.com/full/2441390.jpg");
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.review-header {
  display: flex;
  justify-content: space-between;
}

.review-footer {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  margin: 0 auto;
}

.travel-card-container {
  display: flex;
  float: left;
  padding: 10px;
  margin: 5px;
  border-style: solid;
  border-color: #b947e6;
  border-radius: 25px;
}

.travel-container {
  flex-wrap: wrap;
}

.favorite-icon {
  color: hotpink;
  display: flex;
  justify-content: center;
  margin: 10px;
  /* margin-left: 5px; */
}

.App {
  /* background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-s70-ae-3079a_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=5967d2705f73753956142c8603dd21a4"); */
  /* background-image: url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?cs=srgb&dl=pexels-veeterzy-114979.jpg&fm=jpg"); */
  /* background-image: url("https://celclipmaterialprod.s3-ap-northeast-1.amazonaws.com/35/22/1812235/example"); */
  /* background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #D6E5FA; */
  /* background-color: #f5cc87; */
  /* height: aureto; */

}

/* .travel-container {
  height: auto;
} */

.house-list-list {
  background-color:#fff
}

.house-list-list input[type=text], select {
  width: 50%
}

.house-form input[type=text], select {
  width: 100%;
}

.travel-list, .add-a-house {
  height: 100vh;
  /* background-image: url("https://wallpaperaccess.com/full/2441390.jpg"); */
  background-color: #D6E5FA;
}

.travel-list, .add-a-review {
  height: 180vh;
  /* background-image: url("https://wallpaperaccess.com/full/2441390.jpg"); */
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

.travel-list {
  min-height: 300vh;
}

.travel-list-search-div {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.travel-list-search {
  width: 50%;
  /* position: relative; */
  /* display: flex;
  justify-content: center; */
  align-items: center;
  /* margin: 0 auto;
  display: block; */
}

.house-form {
  padding: 30px;
}

.house-form-header, .travel-list-header {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#775db1;
  padding-top: 10px;
  /* margin-top: 10px; */
}

.welcome-description, .house-form-description, .travel-list-description {
  padding: 15px;
  padding-bottom: 35px;
  text-align: center;
  font-family: sans-serif;
  color: #f12875;
  font-size: 20px;
}

.footer {
  background-color: #BAABDA;;
  padding: 20px;
  color: #f3f3f3;
  display: flex;
  justify-content: space-between;
}

.our-logo {
  display: flex;
  align-items: center;
  font-size: 20px
}

.social-btn {
  font-size: 20px;
  color: black;
  list-style-type: none;
}

.social-btn:hover span{
  padding: 2px;
	width: max-content;
}

#linkedin svg {
	fill: #0e76a8;
}

.social-btn:hover {
	width: 150px;
	border-radius: 5px;
}

.social-btn span {
	width: 0px;
	overflow: hidden;
	transition: 1s;
	text-align: center;
}

.social-btn {
	cursor: pointer;
	height: 50px;
	width: 50px;
	font-family: 'Titillium Web', sans-serif;
	color: #333;
	border-radius: 10px;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	background: white;
	margin: 5px;
	transition: 1s;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.find {
  font-size: 20px;
}
